body{
    background-color: aliceblue;
    width: 900px;
}
.tudo{

}
.kariri1{
    background-color: aquamarine;
    width: 800px;
    text-align: center;
    margin-left: 350px;
    height: 200px;
    padding: 20px;

}

.button{
    background-color: rgb(252, 0, 0);
    margin-left: 350px;

}
.nav a{
    color: black;
    padding: 20px;
   
    width: 50px;
}
.img{
    
}